<!doctype html>
<html lang="ko">
<head>
    <title>NEXTIN profile</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container center">

    <div class="page-header text-center">
        <h1>선언문 및 개인 페이지 작성하기</h1>
        <a href="/logout" class="btn btn-default btn-sm">로그아웃</a>
    </div>

    <div class="row">
        <div class = "col-sm-3"> </div>
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> 유저 정보</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>name</strong>: <%= user.name %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>기수</strong>: <%= user.class %><br>
                        <strong>승인여부</strong>: <%= user.confirm %><br>
                        <strong>프로필</strong>:
                         <%= JSON.stringify(user.profile) %>
                    </p>
            </div>
        </div>
    </div>

</div>
</body>
  <script>  
  var dataObject = <%-JSON.stringify(user) %>;
  </script>
</html>
